body{
	font-family: 'Noto Sans TC', sans-serif;
	text-transform:none;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans TC', sans-serif;
}
.subheading{
	font-family: 'Noto Sans TC', sans-serif;
}
a {
    color: #52AAD2;
}
.bg-primary {
    background-color: #1967A2!important;
	backgroumd-image:url("img/45-degree-fabric-light.png");
}
h1, h2, h3, h4, h5, h6 {
	text-transform:none;
}
.subheading{
	text-transform:none;
}
.text-primary{
	color: #52AAD2!important;
}
