body{
	font-family: 'Noto Sans TC', sans-serif;
	text-transform:none;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans TC', sans-serif;
}
.subheading{
	font-family: 'Noto Sans TC', sans-serif;
}
a {
    color: #52AAD2;
}
.bg-primary {
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}
h1, h2, h3, h4, h5, h6 {
	text-transform:none;
}
.subheading{
	text-transform:none;
}
.text-primary{
	color: #52AAD2!important;
}
.bg-primary {
    background-color: #1967A2!important;
}
th {
     text-align:left;
     background-color:#f5f5f5;
}
tr:hover {
    text-align:left;
    background-color:#f5f5f5;
}

#graph_set {
     width:1150px;
     height:950px;
     padding:10;
     margin:2px 
}
.card-columns {
     width:260px;
     height:250px;
     border:2px;
     margin:7px;
}
.photography{
     width:100%;
}
